.container {
  display: flex;
  align-items: center;
  gap: 12px;
  svg {
    cursor: pointer;
    color: #ffffff;
    
    &:hover {
      color: #1890ff;
    }
  }
}
.menu {
  min-width: 150px !important;
  :global(.ant-dropdown-menu) {
    background-color: #17375c !important;
    border: 1px solid #2a4a6b !important;
  }
  :global(.ant-dropdown-menu-item) {
    color: #ffffff !important;
    
    &:hover {
      background-color: #1a3a5a !important;
    }
  }
}