/* [project]/app/(auth)/events/components/event-detail-modal/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__KEPheW__container .ant-modal-content {
  background-color: #073853 !important;
}

.style-module-scss-module__KEPheW__container .ant-modal-body {
  font-size: 12px;
}

.style-module-scss-module__KEPheW__title {
  font-size: 20px;
  font-weight: 600;
}

.style-module-scss-module__KEPheW__header svg {
  cursor: pointer;
}

.style-module-scss-module__KEPheW__subtitle {
  margin-bottom: 10px;
  font-weight: 600;
}

.style-module-scss-module__KEPheW__subtitle .style-module-scss-module__KEPheW__eventType {
  border-radius: 4px;
  margin-right: 8px;
  padding: 4px 8px;
  font-weight: normal;
}

.style-module-scss-module__KEPheW__time, .style-module-scss-module__KEPheW__address {
  align-items: center;
  display: flex;
}

.style-module-scss-module__KEPheW__time svg, .style-module-scss-module__KEPheW__address svg {
  margin-right: 4px;
}

.style-module-scss-module__KEPheW__time {
  margin-bottom: 5px;
}

.style-module-scss-module__KEPheW__address, .style-module-scss-module__KEPheW__sectionPlayer, .style-module-scss-module__KEPheW__sectionVolunteer {
  margin-bottom: 16px;
}

.style-module-scss-module__KEPheW__sectionPlayer .style-module-scss-module__KEPheW__header, .style-module-scss-module__KEPheW__sectionVolunteer .style-module-scss-module__KEPheW__header {
  margin-bottom: 12px;
}

.style-module-scss-module__KEPheW__sectionPlayer .style-module-scss-module__KEPheW__header .style-module-scss-module__KEPheW__title, .style-module-scss-module__KEPheW__sectionVolunteer .style-module-scss-module__KEPheW__header .style-module-scss-module__KEPheW__title {
  align-items: center;
  font-size: 14px;
  display: flex;
}

.style-module-scss-module__KEPheW__sectionPlayer .style-module-scss-module__KEPheW__header svg, .style-module-scss-module__KEPheW__sectionVolunteer .style-module-scss-module__KEPheW__header svg {
  margin-right: 10px;
}

.style-module-scss-module__KEPheW__sectionBudget, .style-module-scss-module__KEPheW__sectionTask, .style-module-scss-module__KEPheW__sectionExpenses {
  margin-bottom: 16px;
}

.style-module-scss-module__KEPheW__sectionBudget .style-module-scss-module__KEPheW__title, .style-module-scss-module__KEPheW__sectionTask .style-module-scss-module__KEPheW__title, .style-module-scss-module__KEPheW__sectionExpenses .style-module-scss-module__KEPheW__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

.style-module-scss-module__KEPheW__sectionBudget .style-module-scss-module__KEPheW__card, .style-module-scss-module__KEPheW__sectionTask .style-module-scss-module__KEPheW__card, .style-module-scss-module__KEPheW__sectionExpenses .style-module-scss-module__KEPheW__card {
  background-color: #ffffff1a;
  border-radius: 8px;
  padding: 8px 12px;
}

.style-module-scss-module__KEPheW__sectionExpenses {
  margin-bottom: 32px;
}

.style-module-scss-module__KEPheW__line {
  background-color: #ffffff1a;
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
}

.style-module-scss-module__KEPheW__edit {
  font-size: 20px;
}

.style-module-scss-module__KEPheW__edit:hover {
  color: #1d75d0;
}

/*# sourceMappingURL=725fe_events_components_event-detail-modal_style_module_scss_module_css_f9ee138c._.single.css.map*/