/* [project]/app/(auth)/tasks/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__dxXwwW__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.7rem;
}

.style-module-scss-module__dxXwwW__container .style-module-scss-module__dxXwwW__search {
  border: unset;
  background-color: #ffffff1a;
  width: 281px;
}

.style-module-scss-module__dxXwwW__container .style-module-scss-module__dxXwwW__filter, .style-module-scss-module__dxXwwW__container .style-module-scss-module__dxXwwW__sort {
  background-color: #ffffff1a;
}

.style-module-scss-module__dxXwwW__container .ant-table-wrapper table {
  border-radius: 8px;
}

.style-module-scss-module__dxXwwW__priority {
  border-radius: 4px;
  padding: 4px 8px;
}

.style-module-scss-module__dxXwwW__priority.style-module-scss-module__dxXwwW__High {
  background-color: #da2f36;
}

.style-module-scss-module__dxXwwW__priority.style-module-scss-module__dxXwwW__Medium {
  background-color: #ff9800;
}

.style-module-scss-module__dxXwwW__priority.style-module-scss-module__dxXwwW__Low {
  background-color: #1d75d0;
}

.style-module-scss-module__dxXwwW__header svg {
  cursor: pointer;
}

.style-module-scss-module__dxXwwW__monthControll {
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
}

.style-module-scss-module__dxXwwW__btnMonth {
  cursor: pointer;
  padding: 0 8px;
}

.style-module-scss-module__dxXwwW__btnMonth:hover {
  color: #1c66b4;
}

.style-module-scss-module__dxXwwW__month {
  width: 160px;
}


/* [project]/app/(auth)/tasks/components/filter/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__y82eyG__drawer {
  background-color: #073853 !important;
}

.style-module-scss-module__y82eyG__drawer .ant-drawer-header {
  display: none !important;
}

.style-module-scss-module__y82eyG__drawer .ant-input-outlined {
  background-color: unset;
}

.style-module-scss-module__y82eyG__drawer .ant-form-item {
  margin-bottom: 28px;
}

.style-module-scss-module__y82eyG__drawer .ant-drawer-body {
  padding-bottom: 24px !important;
}

.style-module-scss-module__y82eyG__title {
  font-size: 32px;
  font-weight: 600;
}

.style-module-scss-module__y82eyG__header svg {
  cursor: pointer;
}

.style-module-scss-module__y82eyG__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
}


/* [project]/src/components/tag-selector/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__rx-hCa__tag.ant-tag {
  border-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 12px;
}


/* [project]/app/(auth)/tasks/components/calendar/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__vP7_KG__container .ant-picker-calendar .ant-picker-panel table.ant-picker-content {
  border-collapse: collapse;
  border: 1px solid #969696;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
  text-align: left;
  border-collapse: collapse;
  color: #969696;
  border: 1px solid #969696;
  padding: 12px 8px;
  font-size: 12px;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td {
  border-collapse: collapse;
  text-align: left;
  cursor: auto;
  border: 1px solid #969696;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date {
  margin: unset;
  border-top: unset;
  flex-direction: column;
  justify-content: space-between;
  min-height: 164px;
  display: flex;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td.ant-picker-cell {
  color: #969696;
  font-size: 16px;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td.ant-picker-cell.ant-picker-cell-in-view {
  color: #fff;
  background-color: #032a3f;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
  background-color: unset;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar .ant-picker-panel .ant-picker-body {
  padding: 0;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel {
  background-color: unset;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar {
  background-color: unset;
}

.style-module-scss-module__vP7_KG__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
  height: unset;
}

.style-module-scss-module__vP7_KG__tasks {
  margin-bottom: 8px;
  font-size: 10px;
}

.style-module-scss-module__vP7_KG__tasks li {
  border-radius: 4px;
  width: fit-content;
  margin-top: 4px;
  padding: 3px 2px;
  font-weight: 600;
}


/* [project]/app/(auth)/tasks/components/kanban/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__kB5RxG__list {
  background-color: #07385366;
  border-radius: 16px;
  flex: 1;
  min-height: 400px;
  padding: 16px 16px 4px;
}

.style-module-scss-module__kB5RxG__list .style-module-scss-module__kB5RxG__heading {
  margin-bottom: 24px;
}

.style-module-scss-module__kB5RxG__card {
  background-color: #00203299;
  border-radius: 16px;
  margin-bottom: 12px;
  padding: 16px;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__header {
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__content {
  margin-bottom: 24px;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__priority {
  border-radius: 4px;
  height: 22px;
  padding: 2px 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__priority.style-module-scss-module__kB5RxG__High {
  background-color: #da2f36;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__priority.style-module-scss-module__kB5RxG__Medium {
  background-color: #ff9800;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__priority.style-module-scss-module__kB5RxG__Low {
  background-color: #1d75d0;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__footer {
  justify-content: space-between;
  display: flex;
}

.style-module-scss-module__kB5RxG__card .style-module-scss-module__kB5RxG__footer .style-module-scss-module__kB5RxG__duedate {
  color: #ffffffb3;
  font-size: 12px;
}

.style-module-scss-module__kB5RxG__btnAdd {
  cursor: pointer;
}


/* [project]/app/(auth)/tasks/components/detail-modal/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__DmaMYa__container .ant-modal-content {
  background-color: #073853 !important;
}

.style-module-scss-module__DmaMYa__container .ant-modal-body {
  font-size: 12px;
}

.style-module-scss-module__DmaMYa__title {
  font-size: 20px;
  font-weight: 600;
}

.style-module-scss-module__DmaMYa__header svg {
  cursor: pointer;
}

.style-module-scss-module__DmaMYa__subtitle {
  margin-bottom: 10px;
  font-weight: 600;
}

.style-module-scss-module__DmaMYa__sectionAssignee {
  margin-bottom: 16px;
}

.style-module-scss-module__DmaMYa__sectionAssignee .style-module-scss-module__DmaMYa__header {
  margin-bottom: 12px;
}

.style-module-scss-module__DmaMYa__sectionAssignee .style-module-scss-module__DmaMYa__header .style-module-scss-module__DmaMYa__title {
  align-items: center;
  font-size: 14px;
  display: flex;
}

.style-module-scss-module__DmaMYa__sectionAssignee .style-module-scss-module__DmaMYa__header svg {
  margin-right: 10px;
}

.style-module-scss-module__DmaMYa__priority {
  border-radius: 4px;
  margin-right: 8px;
  padding: 4px 8px;
}

.style-module-scss-module__DmaMYa__priority.style-module-scss-module__DmaMYa__High {
  background-color: #da2f36;
}

.style-module-scss-module__DmaMYa__priority.style-module-scss-module__DmaMYa__Medium {
  background-color: #ff9800;
}

.style-module-scss-module__DmaMYa__priority.style-module-scss-module__DmaMYa__Low {
  background-color: #1d75d0;
}

.style-module-scss-module__DmaMYa__edit {
  font-size: 20px;
}

.style-module-scss-module__DmaMYa__edit:hover {
  color: #1d75d0;
}


/*# sourceMappingURL=_317feb5b._.css.map*/