/* [project]/app/(auth)/events/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__9glaua__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.7rem;
}

.style-module-scss-module__9glaua__container .style-module-scss-module__9glaua__search {
  border: unset;
  background-color: rgba(255, 255, 255, .1);
  width: 281px;
}

.style-module-scss-module__9glaua__container .style-module-scss-module__9glaua__filter, .style-module-scss-module__9glaua__container .style-module-scss-module__9glaua__sort {
  background-color: rgba(255, 255, 255, .1);
}

.style-module-scss-module__9glaua__container .ant-table-wrapper table {
  border-radius: 8px;
}

.style-module-scss-module__9glaua__eventType {
  border-radius: 4px;
  padding: 4px 8px;
}

.style-module-scss-module__9glaua__header svg {
  cursor: pointer;
}

.style-module-scss-module__9glaua__monthControll {
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
}

.style-module-scss-module__9glaua__btnMonth {
  cursor: pointer;
  padding: 0 8px;
}

.style-module-scss-module__9glaua__btnMonth:hover {
  color: #1c66b4;
}

.style-module-scss-module__9glaua__month {
  width: 160px;
}

/* [project]/app/(auth)/events/components/new-event/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__o6grDW__drawer {
  background-color: #073853 !important;
}

.style-module-scss-module__o6grDW__drawer .ant-drawer-header {
  display: none !important;
}

.style-module-scss-module__o6grDW__drawer .ant-input-outlined {
  background-color: unset;
}

.style-module-scss-module__o6grDW__drawer .ant-form-item {
  margin-bottom: 28px;
}

.style-module-scss-module__o6grDW__drawer .ant-drawer-body {
  padding-bottom: 24px !important;
}

.style-module-scss-module__o6grDW__title {
  font-size: 32px;
  font-weight: 600;
}

.style-module-scss-module__o6grDW__header svg {
  cursor: pointer;
}

.style-module-scss-module__o6grDW__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
}

.style-module-scss-module__o6grDW__addEventType {
  cursor: pointer;
  margin-left: 8px;
}

.style-module-scss-module__o6grDW__addEventType:hover svg {
  color: #3e86ca;
}

/* [project]/src/components/tag-selector/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__rx-hCa__tag.ant-tag {
  border-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 12px;
}

/* [project]/app/(auth)/events/components/new-event-type/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__GNO02q__container .ant-modal-content {
  background-color: #073853 !important;
}

.style-module-scss-module__GNO02q__title {
  font-size: 20px;
  font-weight: 600;
}

.style-module-scss-module__GNO02q__header svg {
  cursor: pointer;
}

/* [project]/app/(auth)/events/components/filter/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__0zmmta__drawer {
  background-color: #073853 !important;
}

.style-module-scss-module__0zmmta__drawer .ant-drawer-header {
  display: none !important;
}

.style-module-scss-module__0zmmta__drawer .ant-input-outlined {
  background-color: unset;
}

.style-module-scss-module__0zmmta__drawer .ant-form-item {
  margin-bottom: 28px;
}

.style-module-scss-module__0zmmta__drawer .ant-drawer-body {
  padding-bottom: 24px !important;
}

.style-module-scss-module__0zmmta__title {
  font-size: 32px;
  font-weight: 600;
}

.style-module-scss-module__0zmmta__header svg {
  cursor: pointer;
}

.style-module-scss-module__0zmmta__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
}

/* [project]/app/(auth)/events/components/event-detail-modal/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__KEPheW__container .ant-modal-content {
  background-color: #073853 !important;
}

.style-module-scss-module__KEPheW__container .ant-modal-body {
  font-size: 12px;
}

.style-module-scss-module__KEPheW__title {
  font-size: 20px;
  font-weight: 600;
}

.style-module-scss-module__KEPheW__header svg {
  cursor: pointer;
}

.style-module-scss-module__KEPheW__subtitle {
  margin-bottom: 10px;
  font-weight: 600;
}

.style-module-scss-module__KEPheW__subtitle .style-module-scss-module__KEPheW__eventType {
  border-radius: 4px;
  margin-right: 8px;
  padding: 4px 8px;
  font-weight: normal;
}

.style-module-scss-module__KEPheW__time, .style-module-scss-module__KEPheW__address {
  align-items: center;
  display: flex;
}

.style-module-scss-module__KEPheW__time svg, .style-module-scss-module__KEPheW__address svg {
  margin-right: 4px;
}

.style-module-scss-module__KEPheW__time {
  margin-bottom: 5px;
}

.style-module-scss-module__KEPheW__address, .style-module-scss-module__KEPheW__sectionPlayer, .style-module-scss-module__KEPheW__sectionVolunteer {
  margin-bottom: 16px;
}

.style-module-scss-module__KEPheW__sectionPlayer .style-module-scss-module__KEPheW__header, .style-module-scss-module__KEPheW__sectionVolunteer .style-module-scss-module__KEPheW__header {
  margin-bottom: 12px;
}

.style-module-scss-module__KEPheW__sectionPlayer .style-module-scss-module__KEPheW__header .style-module-scss-module__KEPheW__title, .style-module-scss-module__KEPheW__sectionVolunteer .style-module-scss-module__KEPheW__header .style-module-scss-module__KEPheW__title {
  align-items: center;
  font-size: 14px;
  display: flex;
}

.style-module-scss-module__KEPheW__sectionPlayer .style-module-scss-module__KEPheW__header svg, .style-module-scss-module__KEPheW__sectionVolunteer .style-module-scss-module__KEPheW__header svg {
  margin-right: 10px;
}

.style-module-scss-module__KEPheW__sectionBudget, .style-module-scss-module__KEPheW__sectionTask, .style-module-scss-module__KEPheW__sectionExpenses {
  margin-bottom: 16px;
}

.style-module-scss-module__KEPheW__sectionBudget .style-module-scss-module__KEPheW__title, .style-module-scss-module__KEPheW__sectionTask .style-module-scss-module__KEPheW__title, .style-module-scss-module__KEPheW__sectionExpenses .style-module-scss-module__KEPheW__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

.style-module-scss-module__KEPheW__sectionBudget .style-module-scss-module__KEPheW__card, .style-module-scss-module__KEPheW__sectionTask .style-module-scss-module__KEPheW__card, .style-module-scss-module__KEPheW__sectionExpenses .style-module-scss-module__KEPheW__card {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 8px;
  padding: 8px 12px;
}

.style-module-scss-module__KEPheW__sectionExpenses {
  margin-bottom: 32px;
}

.style-module-scss-module__KEPheW__line {
  background-color: rgba(255, 255, 255, .1);
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
}

.style-module-scss-module__KEPheW__edit {
  font-size: 20px;
}

.style-module-scss-module__KEPheW__edit:hover {
  color: #1d75d0;
}

/* [project]/app/(auth)/events/components/edit-event/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__AbVeTa__drawer {
  background-color: #073853 !important;
}

.style-module-scss-module__AbVeTa__drawer .ant-drawer-header {
  display: none !important;
}

.style-module-scss-module__AbVeTa__drawer .ant-input-outlined {
  background-color: unset;
}

.style-module-scss-module__AbVeTa__drawer .ant-form-item {
  margin-bottom: 28px;
}

.style-module-scss-module__AbVeTa__drawer .ant-drawer-body {
  padding-bottom: 24px !important;
}

.style-module-scss-module__AbVeTa__title {
  font-size: 32px;
  font-weight: 600;
}

.style-module-scss-module__AbVeTa__header svg {
  cursor: pointer;
}

.style-module-scss-module__AbVeTa__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
}

.style-module-scss-module__AbVeTa__addEventType {
  cursor: pointer;
  margin-left: 8px;
}

.style-module-scss-module__AbVeTa__addEventType:hover svg {
  color: #3e86ca;
}

/* [project]/app/(auth)/events/components/calendar/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__-2c8Aa__container .ant-picker-calendar .ant-picker-panel table.ant-picker-content {
  border-collapse: collapse;
  border: 1px solid #969696;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
  text-align: left;
  border-collapse: collapse;
  color: #969696;
  border: 1px solid #969696;
  padding: 12px 8px;
  font-size: 12px;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td {
  border-collapse: collapse;
  text-align: left;
  cursor: auto;
  border: 1px solid #969696;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date {
  margin: unset;
  border-top: unset;
  flex-direction: column;
  justify-content: space-between;
  min-height: 164px;
  display: flex;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td.ant-picker-cell {
  color: #969696;
  font-size: 16px;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td.ant-picker-cell.ant-picker-cell-in-view {
  color: #fff;
  background-color: #032a3f;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
  background-color: unset;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar .ant-picker-panel .ant-picker-body {
  padding: 0;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel {
  background-color: unset;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar {
  background-color: unset;
}

.style-module-scss-module__-2c8Aa__container .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
  height: unset;
}

.style-module-scss-module__-2c8Aa__events {
  margin-bottom: 8px;
  font-size: 10px;
}

.style-module-scss-module__-2c8Aa__events li {
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 4px;
  padding: 3px 2px;
  font-weight: 600;
}

/*# sourceMappingURL=_38b9b0ce._.css.map*/